@if (ingredients().length) {
<div class="ingredient-list">
  <div class="ingredient-list__border">
    @for ( ingredient of ingredients(); track ingredient; let i = $index ) {
    <div class="ingredient-list__ingredient">
      <input pInputText type="text" [formControl]="ingredients()[i]" />
      <img
        src="../../../assets/icons/bin.svg"
        alt="Remove ingredient"
        (click)="removeIngredient(i)"
      />
    </div>
    }
  </div>
</div>
} @else {
<div class="no-ingredients">
  <div class="no-ingredients__empty">
    <img src="../../../assets/icons/mitt.svg" alt="" />
    <span>Añade algún ingrediente <span class="highlight">;)</span></span>
  </div>
</div>
}
