<div class="profile" [class.mobile]="screenSize.isMobile()">
  <div class="profile__user">
    <div class="profile__info">
      <div class="profile__picture">
        <img
          src="assets/icons/profile.svg"
          routerLink="profile"
          alt="Profile pic drawing"
        />
      </div>
      <p-button>{{ 'PROFILE.CHANGE_IMAGE' | translate }}</p-button>
    </div>
  </div>
  <div class="profile__settings">
    <div class="profile__language-selector">
      <span>{{'PROFILE.LANGUAGE' | translate}}</span>
      <p-select [options]="availableLanguages()" [(ngModel)]="selectedLanguage" optionValue="id" optionLabel="name"/>
    </div>
    <div class="profile__nick">
      <span>{{'PROFILE.NICK' | translate}}:</span>
      <div class="profile__nick-input">
        <app-custom-input [customNgModel]="username" />
        <p-button [disabled]="authService.user()?.username === username()" (click)="updateUsername()">{{ 'COMMON.SAVE' | translate }}</p-button>
      </div>
    </div>

    <p-button severity="danger" (click)="authService.logout()">{{'PROFILE.LOGOUT' | translate}}</p-button>
  </div>
</div>
