.library {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 32px;

  &.mobile {
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    span {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: var(--p-primary-hover-color) !important;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    height: auto;
    gap: 16px;
    padding-top: 16px;
    overflow: auto;

    &.mobile {
      justify-items: center;

      .cards__recipe {
        text-align: center;
      }
    }

    &__recipe {
      padding: 0.5rem;
      border-radius: 10px;
      width: 100%;
      background-color: var(--snow-white);
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: var(--dark-bg);
      text-align: left;
      height: 350px;
      transition: 0.5s;

      .cards__title {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5em;
        font-weight: 600;
        text-wrap: wrap;
        text-align: left;
      }

      &:hover {
        margin-top: -0.5rem;
      }

      &-upper {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-lower {
        display: flex;
        justify-content: space-between;

        img {
          width: 1.7rem;
          cursor: pointer;
        }

        .share:hover {
          filter: invert(84%) sepia(81%) saturate(480%) hue-rotate(77deg) brightness(88%) contrast(86%);
        }

        .actions {
          display: flex;
          gap: 0.5rem;

          &__delete:hover {
            filter: invert(45%) sepia(13%) saturate(5493%) hue-rotate(328deg) brightness(94%) contrast(100%);
          }

          &__edit:hover {
            filter: invert(84%) sepia(81%) saturate(480%) hue-rotate(77deg) brightness(88%) contrast(86%);
          }
        }
      }
    }



    &__image {
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 3px solid var(--snow-white);
      border-radius: 15px ;
    }

    &--no-results {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;

      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__summary {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
    }
  }
}

