<div class="recipe-container" [class.mobile]="screenSize.isMobile()">
  <div class="recipe-container__header">
    @if (isEditing()) {
      <app-custom-input
        [customLabel]="'RECIPE.NAME' | translate"
        [customNgModel]="recipeName"
      />
    } @else {
      <h1 class="recipe-container__title">{{ recipeName() }}</h1>
    }
    <div class="recipe-container__actions">
      <i class="pi pi-share-alt"></i>
      @if (isAuthor()) {
        <i
          class="pi pi-pencil"
          [class.highlight]="isEditing()"
          (click)="isEditing.set(!isEditing())"
        ></i>
        <i class="pi pi-trash" (click)="deleteRecipe()"></i>
      }
    </div>
  </div>

  <div class="recipe-container__content">
    <div class="recipe-container__recipe">
      <p-editor
        [(ngModel)]="recipeDescription"
        [readonly]="!isEditing()"
        [class.remove-header]="!isEditing()"
      />
    </div>
  </div>

  @if (isEditing()) {
    @let recipeNotChanged =
      recipeResource.value()?.name === recipeName() && descriptionNotChanged();
    @let isRecipeEmpty =
      !recipeName().length ||
      recipeDescription() === "<p></p>" ||
      recipeDescription() === "<h2></h2>" ||
      recipeDescription() === "<h1></h1>";
    <div class="recipe-container__buttons">
      <p-button
        [label]="'RECIPE.SAVE' | translate"
        (click)="editRecipe()"
        [disabled]="recipeNotChanged || isRecipeEmpty"
      />
    </div>
  }
</div>
