<div class="recipe-container" [class.mobile]="screenSize.isMobile()">
  <div class="recipe-container__header">
    @if (isEditing()) {
      <app-custom-input
        [customLabel]="'Nombre de la receta'"
        [customNgModel]="recipeName"
      />
    } @else {
      <h1 class="recipe-container__title">{{ recipeName() }}</h1>
    }
    <div class="recipe-container__actions">
      <i class="pi pi-share-alt"></i>
      @if (isAuthor()) {
        <i
          class="pi pi-pencil"
          [class.highlight]="isEditing()"
          (click)="isEditing.set(!isEditing())"
        ></i>
        <i class="pi pi-trash" (click)="deleteRecipe()"></i>
      }
    </div>
  </div>

  <div class="recipe-container__content">
    <div class="recipe-container__recipe">
      <p-editor
        [(ngModel)]="recipeDescription"
        [readonly]="!isEditing()"
        [class.remove-header]="!isEditing()"
      >
      </p-editor>
    </div>
  </div>

  @if (isEditing()) {
    <div class="recipe-container__buttons">
      <p-button
        [label]="'Guardar receta'"
        (click)="editRecipe()"
        [disabled]="
          recipeResource.value()?.name === recipeName() &&
          recipeResource.value()?.description === recipeDescription()
        "
      />
    </div>
  }
</div>
