<div class="chef-container" [class.mobile]="isMobile()">
  <h1 class="chef-container__title">
    Crea tu Receta con <span class="highlight">IA!</span>
  </h1>
  <div class="chef-container__content">
    @if (!loadedRecipe()) {
      <div class="chef-container__options">
        <span (click)="writeIngredients.set(false)">Subir fotografía</span>
        <p-toggleswitch [(ngModel)]="writeIngredients" />
        <span (click)="writeIngredients.set(true)">Escribir ingredientes</span>
      </div>
      @if (!writeIngredients()) {
        <div
          class="chef-container__upload"
          (dragenter)="hoverUploader.set(true)"
          (dragleave)="hoverUploader.set(false)"
          [class.upload--active]="hoverUploader()"
        >
          <div class="chef-container__u-icon">
            <img src="../../../assets/icons/upload.svg" alt="" />
          </div>
        </div>
      } @else {
        <div class="chef-container__write">
          <div class="chef-container__input">
            <app-custom-input
              [customNgModel]="ingredientInput"
              [customLabel]="'Ingrediente'"
              (enterTriggered)="addIngredient()"
            />
            <p-button label="Añadir" (click)="addIngredient()" />
          </div>
          @if (ingredients().length) {
            <div class="chef-container__list">
              <div class="chef-container__list--border">
                @for (
                  ingredient of ingredients();
                  track ingredient;
                  let i = $index
                ) {
                  <div class="chef-container__ingredient">
                    <input
                      pInputText
                      type="text"
                      [formControl]="ingredients()[i]"
                    />
                    <img
                      src="../../../assets/icons/bin.svg"
                      alt="Remove ingredient"
                      (click)="removeIngredient(i)"
                    />
                  </div>
                }
              </div>
            </div>
          } @else {
            <div class="chef-container__no-ingredients">
              <div class="chef-container__empty">
                <img src="../../../assets/icons/mitt.svg" alt="" />
                <h3>
                  Añade algún ingrediente <span class="highlight">;)</span>
                </h3>
              </div>
            </div>
          }
        </div>
      }
    } @else {
      <app-custom-input [customLabel]="'Nombre de la receta'" />
    }
  </div>

  <div class="chef-container__actions">
    <p-button
      [style.visibility]="!ingredients().length ? 'hidden' : 'visible'"
      [label]="loadedRecipe() ? 'Guardar receta' : 'Generar receta'"
      (click)="addIngredient()"
    />
  </div>
</div>
