<div class="chef-container" [class.mobile]="isMobile()">
  <h1 class="chef-container__title">Crea tu Receta con <span class="highlight">IA!</span></h1>
    <div class="chef-container__content">
      @if (!loadedRecipe()) {
        <div class="chef-container__options">
          <span (click)="writeIngredients.set(false)">Subir fotografía</span>
          <p-toggleswitch [(ngModel)]="writeIngredients" />
          <span (click)="writeIngredients.set(true)">Escribir ingredientes</span>
        </div>
        @if (!writeIngredients()) {
          <div
            class="chef-container__upload"
            (dragenter)="hoverUploader.set(true)"
            (dragleave)="hoverUploader.set(false)"
            [class.upload--active]="hoverUploader()"
          >
            <div class="chef-container__u-icon">
              <img src="../../../assets/icons/upload.svg" alt="" />
            </div>
          </div>
        } @else {
          <div class="chef-container__write">
            <div class="chef-container__input">
              <app-custom-input [customNgModel]="ingredientInput" [customLabel]="'Ingrediente'" (enterTriggered)="addIngredient()"/>
              <p-button label="Añadir" (click)="addIngredient()" />
            </div>
            <div class="chef-container__list">
              <div class="mierdon">
                @for (ingredient of ingredients(); track $index) {
                  <div class="chef-container__ingredient">
                    {{ ingredient }}
                  </div>
                }
              </div>
            </div>
          </div>
        }
      } @else {
        <app-custom-input [customLabel]="'Nombre de la receta'"/>
      }

    </div>

  <div class="chef-container__actions">
    <p-button
      [label]="loadedRecipe() ? 'Guardar receta' : 'Generar receta'"
      (click)="addIngredient()"
    />
  </div>
</div>
