<div class="chef-container" [class.mobile]="screenSize.isMobile()">
  <h1 class="chef-container__title">
    {{ 'AI_CHEF.CREATE' | translate }} <span class="highlight">{{ 'AI_CHEF.AI' | translate }}</span>
  </h1>
  <div class="chef-container__content">
    <!--
      TODO: Add photo functionality
      <div class="chef-container__options">
        <span (click)="writeIngredients.set(false)">Subir fotografía</span>
        <p-toggleswitch [(ngModel)]="writeIngredients" />
        <span (click)="writeIngredients.set(true)">Escribir ingredientes</span>
      </div>
      -->
    @if (!writeIngredients()) {
      <div
        class="chef-container__upload"
        (dragenter)="hoverUploader.set(true)"
        (dragleave)="hoverUploader.set(false)"
        [class.upload--active]="hoverUploader()"
      >
        <div class="chef-container__u-icon">
          <img src="/assets/icons/upload.svg" alt="" />
        </div>
      </div>
    } @else {
      <div class="chef-container__write">
        <div class="chef-container__input">
          <app-custom-input
            [customNgModel]="ingredientInput"
            [customLabel]="'AI_CHEF.INGREDIENT' | translate"
            (enterTriggered)="addIngredient()"
          />
          <p-button
            [label]="'COMMON.ADD' | translate"
            (click)="addIngredient()"
            [disabled]="!ingredientInput().length"
          />
        </div>
        <app-ingredient-list [ingredients]="ingredients" />
      </div>
    }
  </div>

  <div class="chef-container__actions">
    <p-button
      [style.visibility]="!ingredients().length ? 'hidden' : 'visible'"
      [label]="'AI_CHEF.GENERATE' | translate"
      (click)="generateRecipe()"
    />
  </div>
</div>
