<div class="create-container" [class.mobile]="screenSize.isMobile()">
  <h1 class="create-container__title">
    @if (generatedRecipe()) {
      Tu receta <span class="highlight">generada</span>
    } @else {
      Escribe <span class="highlight">tu</span> receta
    }
  </h1>
  <div class="create-container__content">
    <div class="create-container__recipe">
      <div class="create-container__recipe-header">
        <app-custom-input
          [customLabel]="'Nombre de la receta'"
          [customNgModel]="recipeName"
        />
        @if (!screenSize.isMobile()) {
          <p-fileupload
            class="file-upload"
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            accept="image/*"
            maxFileSize="1000000"
            [auto]="true"
            chooseLabel="Imagen de la receta"
          />
        }
      </div>
      @if (screenSize.isMobile()) {
        <p-fileupload
          class="file-upload--mobile"
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          chooseLabel="Imagen de la receta"
        />
      }
      <p-editor [(ngModel)]="recipeDescription"></p-editor>
    </div>
  </div>

  <div class="create-container__actions">
    <p-button [label]="'Guardar receta'" />
  </div>
</div>
