<div class="create-container" [class.mobile]="screenSize.isMobile()">
  <h1 class="create-container__title">
    @if (generatedRecipe()) {
      {{ 'CREATE.YOUR_RECIPE' | translate }} <span class="highlight">{{ 'CREATE.GENERATED' | translate}}</span>
    } @else {
      {{ 'COMMON.WRITE' | translate }} <span class="highlight">{{ 'COMMON.YOUR' | translate }}</span> {{ 'COMMON.RECIPE' | translate }}
    }
  </h1>
  <div class="create-container__content">
    <div class="create-container__recipe">
      <div class="create-container__recipe-header">
        <app-custom-input
          [customLabel]="'RECIPE.NAME' | translate"
          [customNgModel]="recipeName"
        />
        @if (!screenSize.isMobile()) {
          <p-fileupload
            class="file-upload"
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            accept="image/*"
            maxFileSize="1000000"
            [auto]="true"
            [chooseLabel]="'CREATE.RECIPE_IMAGE' | translate"
          />
        }
      </div>
      <div class="create-container__summary">
        <p-floatlabel variant="on">
          <textarea
            pTextarea
            id="on_label"
            [(ngModel)]="recipeSummary"
            style="resize: none"
          ></textarea>
          <label for="on_label">{{'CREATE.RECIPE_DESCRIPTION' | translate}}</label>
        </p-floatlabel>
      </div>
      @if (screenSize.isMobile()) {
        <p-fileupload
          class="file-upload--mobile"
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          [chooseLabel]="'CREATE.RECIPE_IMAGE' | translate"
        />
      }
      <p-editor
        [(ngModel)]="recipeDescription"
        [placeholder]="'CREATE.WRITE_RECIPE' | translate"
      />
    </div>
  </div>

  <div class="create-container__actions">
    <p-button [label]="'RECIPE.SAVE' | translate" (click)="createRecipe()" />
  </div>
</div>
