/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
  background-color: #2e2e2e;
  --p-select-background: #2e2e2e;
  --p-select-overlay-background:  #2e2e2e;
  height: 100%;
  margin: 0;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
