* {
  color: var(--snow-white);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  &.mobile {
    flex-direction: column-reverse;
  }
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
